.ui-widget {
	font-family: Arial, sans-serif;
	font-size: 85% !important;
}
.ui-outputlabel {
	font-size: 85% !important;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 85% !important;
	color: #828c8f !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

th {
	padding: 5;
	height: 15;
}

label {
	font-weight: normal;
}

.header {
	height: 70;
	min-height: 70;
	/* float: inherit; */
	background-color: #E7E7E7;
	width: 100%;
}

.headerFirstColumn {
	padding-left: 10%;
	width: auto;
}

.headerSecondColumn {
	width: 40%;
	padding-right: 0px;
}

.menu {
	width: 80%;
	margin: 0 auto;
}

.menu {
	padding: 0;
	height: 60;
}

.content {
	height: 75%;
	background-color: #FFFFFF;
	padding-left: 100px;
}

.footer {
	width: 100%;
	margin-top:-32767px;
	height: 70;
	min-height: 70;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #E7E7E7;
	padding-left: 10%;
	padding-right: 10%;
}

.footerText {
	width: 40%;
	padding-left: 60%;
	font-size: 85% !important;
}

.loginForm {
	position: relative;
	width: 500px;
	margin: 15% auto;
}