/.sonar/
/.classpath
/sonar-project.properties
/.metadata
/.project
/learnit-mail/.classpath
/learnit-mail/.project
/learnit-mail/.settings
/learnit-mail/target
/learnit-webapp/.metadata
/learnit-webapp/.classpath
/learnit-webapp/.project
/learnit-webapp/.settings
/learnit-webapp/target